.ODM-principal-box{
    display:grid;
    border-radius:  5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr 2fr;
    grid-template-areas: "odmname odmimages"
                         "odmdetails odmdetails"
                         "odmbutton odmbutton";
}
.ODM-PBboxa{grid-area: odmname;}
.ODM-PBboxb{grid-area: odmimages;}
.ODM-PBboxc{grid-area: odmdetails;}
.ODM-PBboxd{grid-area: odmbutton;}
.OMDmb{
    padding: 0 !important;
}
.OMDmb button{
    margin-right: .2rem !important;
}
.ODM-PBboxa,.ODM-PBboxb{
    align-items: center;
    text-align: center;
    padding: 15px 15px 0px 15px;
    background: white;
}
.ODM-PBbox1 img{
    width: 40px;
    object-fit: contain;
    margin: 2px
}
.ODM-PBbox1 img:hover{
    cursor: pointer;
}
.ODM-PBbox2 img{
    width: auto;
    object-fit: contain;
}
.ODM-PBproduct{
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 5px 0px;
    text-align: center;
}
.ODM-PBboxc{
    background: white;
    text-align: left; 
    padding: 5px 0px 2px 15px;
}
.ODM-PBboxd{
    text-align: center;
    margin-bottom: 5px;
}
/* fin primer caja */
@media screen and (max-width:1024px){
}
@media screen and (max-width: 768px){
    .ODM-PBbox2 img{
        height: 150px;
    }
    .ODM-principal-box{
        display:grid;
        border-radius:  5px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 4fr 2fr;
        grid-template-areas: "odmname odmimages"
                             "odmdetails odmdetails";
    }
    .ODM-PBboxa,.ODM-PBboxb{
        padding: 5px 5px 0px 5px;
    }
    .imgzoom2{
        width:  150px !important;
        height: 150px !important;
    }
}
@media screen and (max-width: 480px){
    .modalwid {
        max-width: 75% !important;
    }
    .imgzoom2{
        width:  100px !important;
        height: 100px !important;

    }
    .ODM-PBbox1 img{
        /* border: 1px solid black; */
        width: 20px !important;
        /* object-fit: contain; */
        margin: 1px
    }
    .ODM-PBproduct,.ODM-PBprecio{
        font-size: .6em;
    }
    .PBdetails-descriptionmodal{
        font-size: .7em !important;
    }
}
@media screen and (max-width: 320px){
    .modalwid {
        max-width: 80% !important;
    }
}