/* prueba */
.button_next{
    position: absolute;
    z-index: 1;
    top: 37%;
    right: 0;
    font-weight: 600;
    border: 0 !important;
    padding: 5px 10px !important;
    opacity: .85 !important;
}
.button_next:hover{
    background-color: white;
    opacity: 1 !important;
}
.button_previous{
    position: absolute;
    z-index: 1;
    top: 37%;
    left: 0;
    font-weight: 600;
    border: 0 !important;
    padding: 5px 10px !important;
    opacity: .85 !important;
}
.button_previous:hover{
    background-color: white;
    opacity: 1 !important;
}
.cards-slider-wrapper{
    display: flex;
    position: absolute;
    transition: transform 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.card2{
    flex: 1;
    min-width: 180px;
}
.cards-slider{
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    height: 190px;
}
.sronlu{
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0,0,0,0);
        white-space: nowrap;
        border: 0;
}
.cards-slider2{
    /* overflow: hidden; */
    /* position: relative; */
    margin: 0 auto;
    height: 190px;
}
.cards-slider-wraper2{
    overflow-x: auto;
    display: flex;
    /* position: absolute; */
}
.OneProdCateg2{
    margin-bottom: 2em;
}
/* hasta aqui prueba */


.OneProd_title{
    padding: .3em;
    margin-bottom: 0;  
}
.OneProdCateg{
    margin-bottom: 1em;
}
.OneProdCateg_title{
    text-align: center;
    padding: .5em 0 0 0;
    text-size-adjust: 1em;
}
.OneProd_products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.OneProdCateg_box{
    border-radius: 3px;
    background: white;
    /* display: grid; */
    margin: 5px;
    position: relative;
    /* grid-template-areas: "a a a"
                         "b b b"
                         "c c c"
                         "d d d"
                         "e e e"
                         "f f f" */
}
.OneProdCateg_name{
    grid-area: a;
    text-align: center;
}
.OneProdCateg_p_name{
    margin: 5px;
    font-size: 1.30em;
    font-weight: bold;
}
.OneProdCateg_principal_image{
    grid-area: c;
    text-align: center;
}
.OneProdCateg_pi_img{
    width: 180px;
    height: 180px;
    object-fit: contain;
}
.OneProdCateg_price{
    grid-area: d;
    /* display: flex; */
    display: none;
    justify-content: space-evenly;
    margin: .5em 0 .3em 0;
}
.OneProdCateg_P{
    margin: 0px
}
.OneProdCateg_sendby{
    grid-area: e;
    display: flex;
    justify-content: space-evenly;
}
.OneProdCateg_buttons{
    grid-area: f;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 10px;
    opacity: 0.95;
}
.OneProdCateg_button1{
    margin: 0 10px 3px 10px;
    font-size: 0.8em;
    padding: .35em;
}
.OneProdCateg_button1_2{
    background-color: crimson !important;
    border-color: crimson !important;
    /* opacity: 1; */
}
.OneProdCateg_button1_2:hover{
    background-color: darkred !important;
    border-color: darkred !important;
    /* opacity: 1 !important; */
}
.modalwid{
    max-width: 50% !important;
}
@media screen and (max-width: 992px){
    .OneProd_title {
        padding: .2em;
        font-size: 1.4em;
    }
}
@media screen and (max-width: 768px){
    .OneProdCateg_pi_img {
        width: 136px;
        height: 136px;
    }
    .OneProd_title{
        font-size: 1.35em;
    }
    .OneProdCateg_buttons{
        left: 13px;
    }
    .OneProdCateg_button1{
        margin: 0 1px;
        padding: .3em;
    }
}