.socialncontainer{
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 100;
    text-align: -webkit-right
}
.socialNf{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 5pxrgb(0 0 0/20%);
    cursor: pointer;
    margin-bottom: 6px;
    border-radius: 50% 50% 50% 12px;
    padding: 10px;
    border: none;
}
.socialNf img{
height: 49px;
}

@media screen and (max-width:425px){
    .socialncontainer{
        position: fixed;
        right: 10px;
        bottom: 10px;
        z-index: 100;
        text-align: -webkit-right
    }
    .socialNf{
        width: 45px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 1px 5pxrgb(0 0 0/20%);
        cursor: pointer;
        margin-bottom: 6px;
        border-radius: 50% 50% 50% 12px;
        padding: 10px;
        border: none;
    }
    .socialNf img{
    height: 45px;
    }
}