body{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b7c1c5+0,606e7e+100 */
    background: rgb(232, 237, 238); /* Old browsers */
    /* background: -moz-radial-gradient(center, ellipse cover,  rgba(183,193,197,1) 0%, rgba(96,110,126,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(183,193,197,1) 0%,rgba(96,110,126,1) 100%); 
    background: radial-gradient(ellipse at center,  rgba(183,193,197,1) 0%,rgba(96,110,126,1) 100%); */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7c1c5', endColorstr='#606e7e',GradientType=1 ); */

    /* background-color: white; */
    /* font-family: 'Oswald', sans-serif; */
    margin: 0px;
} 