.StationeryPbox{
    width: 100%;
    display: flex;
}
.StationeryPbox1{
    width: 80%;
    margin-right: 1em;
    margin-left: 1em;
    background: white;
}
.StationeryPbox2{
    width: 20%;
    background: white;
    border-radius: 13px;
    margin-right: 1em;
}
.cards-slider2-stationery{
    margin: 0 auto;
}
.cards-slider-wraper2-stationery{
    display: flex;
    flex-wrap: wrap;
}
.CCp{
    opacity: .9 !important;
}
.CCHselect{
    cursor: pointer;
    padding-left: .5em;
}
.CCHselect:hover{
    font-weight: bold;
}
.CCPselect{
    margin-left: 2em;
}
.CCPselect p{
    cursor: pointer;
}
.CCPselect p:hover{
    font-weight: bold;
}
.CSIMG{
    height: 280px;
    width: 280px;
    object-fit: contain;
}
.zoom2{
    transition: transform .2s;
}
.zoom2:hover,
      .zoom:focus {
      -ms-transform: scale(1.25); /* IE  */
      -webkit-transform: scle(1.25); /* Safari */
      transform: scale(1.25); 
      background-color: rgba(0,0,0,.5)
      }
.CSPB1{
    margin: 1em;
    border: 1px solid rgba(0,0,0,.2)
}
.CSPDIV{
    padding: 0 .4em;
}
.CSPrice{
    margin: 0;
    font-size: 1.5em;
    /* padding-left: .3em; */
}
.CSName{
    height: 5em;
    max-width: fit-content;
    font-weight: bold;
    font-size: 1em;
}
.CSName2{
    margin-bottom: 0;
    max-width: fit-content;
    font-size: .8em;
}
.CSName3{
    margin-bottom: 0.3em;    
    max-width: fit-content;
    font-size: .8em;
    color: rgba(0,0,0,.6);
}
.StationeryPbox3{
    display: none;
}
@media screen and (max-width: 768px){
    .CSIMG{
        height: 180px;
        width: 180px;
        object-fit: contain;
    }
    .CSPrice{
        font-size: 1em;
    }
    .CSName {
        font-size: .6em;
        margin: .1em 0;
    }
    .CSName2{
        font-size: .7em;
    }
    .StationeryPbox{
        display: block;
    }
    .StationeryPbox2{
        width: 100%;
        margin-right: 0 ;
        display: none;
    }
    .StationeryPbox3{
        display: block;
    }
    .StationeryButton3{
        margin: .3em 0;
        width: 100% !important; 
    }
    .StationeryPbox1{
        width: 100%;
        margin: 0;
    }
    .CSPB1{
        margin: .3em;
    }
    .StationeryButton3p p{
        margin: 0 !important;
    }
    .CSPBUTTONDetails{
        padding: .2em .5em;
        font-size: .9em;
    }
}
@media screen and (max-width: 768px){
    .CSPB1{
        display: flex;
        width: 100%;
    }
    .CSIMG{
        height: 130px;
        width: 130px;
    }
    .CSPDIVPRINCIPAL{
        width: 100%;
    }
    .CSPDIV{
        padding: 0 .2em;
    }
}