.Subheader1{
    background-color: #19262E!important;
    color: white !important;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 'c a b d';
}
.Sh1_1{
    grid-area: a;
    border: 1px solid #19262E;
}
.Sh1_1:hover{
    border: 1px solid rgba(0,0,0,.2);
}
.Sh1_2{
    grid-area: b;
    display: flex;
    justify-content: center;
}
.Sh1_4{
    grid-area: D;
    display: flex;
    justify-content: center;
}
.Sh1_2:hover{
    border: 1px solid rgb(0, 0, 0, .2);
    /* border-bottom: 1px solid rgb(0, 0, 0, .2); */
}
.Sh1_3{
    grid-area: c;
    display: flex;
    justify-content: center;
}
.Sh1_3:hover{
    border: 1px solid rgb(0, 0, 0, .2);
}
.Sh1_4{
    grid-area: d;
    display: flex;
    justify-content: center;
}
.Sh1_4:hover{
    border: 1px solid rgb(0, 0, 0, .2);
}
.Sh1_1_1{
    list-style: none;
    justify-content: center;
    display: flex;
    width: 100%;
    text-align: center;
}
.DDMenu{
    left: 38% !important;
}
.DDA{
    padding: 0 !important;
    color: white;
    width: 100%;
    font-size: 1.15em;
}
.DDA:hover{
    font-weight: bold !important;
    color:white;
}
.dropdown-item:hover{
    color: green;
    cursor: pointer;
    /* background-color: rgba(0,0,0) */
    background-color: rgba(0,0,0,.08);
}
.SH1p{
    margin-bottom: 0;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 1.15em;
}
.SH1p p{
    margin-bottom: 0;
    /* width: 100%;
    text-align: center; */
    /* color: black; */
}
.SH1p:hover{
    text-decoration: none !important;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
@media screen and (max-width: 480px){
    .Subheader1{
        grid-template-columns: 1fr 3fr 1fr 1fr;
    }
    .SH1p{
        font-size: .8em;
    }
    .DDA{
        font-size: 1em;
    }
}