.SHL-principalbox{
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 3px;
    background: white;
    height: max-content;
    display: grid;
    /* width: 75%; */
    /* height: 120px; */
    grid-template-columns: 1.5fr 5fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1.3fr;
    grid-template-areas: "a b f g h"
                         "a c f g h"
                         "a d f g h"
                         "a e f g h"
    
    ;
    grid-gap: 3px;
}
.SHLbox-a{
    grid-area: a;
    justify-content: center;

}
.SHL1{
    text-align: center;
}
.SHL1_1{
    height: 100px;
    margin: 10px;
    width: 150px;
    object-fit: contain;
}
.SHLbox-b{
    grid-area: b
}
.SHL-b-word{
    margin: 0;
}
.SHLbox-c{
    grid-area: c;
    /* display: none; */
}
.SHL-c-word{
    margin: 0;
}
.SHLbox-d{
    grid-area: d;
    /* display: none; */
}
.SHL-d-word{
    margin: 0;
}
.SHLbox-e{
    grid-area: e;

    /* display: none; */
}
.SHL-e-button{
    background-color: #E3E6EA !important;
    padding: 0 5px;
}
.SHL-e-button:hover{
    background-color: #bbbcbf !important;
    color: white !important;
}
.SHL-e-button2hidden{
    background-color: #E3E6EA !important;
    padding: 0 5px;
}
.SHL-e-button2hidden:hover{
    background-color: #bbbcbf !important;
    color: white !important;
}
.SHL-e-word{
    margin: 0;
}
.SHLbox-f{
    grid-area: f;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SHL-f-word{
    margin: 0;
}
.SHLbox-g{
    grid-area: g;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SHLrest{
    background-color: #E3E6EA !important;
}
.SHLrest:hover{
    background-color: #bbbcbf !important;
    color: white !important;
}
.SHLplus{
    background-color: #E3E6EA !important;
}
.SHLplus:hover{
    background-color: #bbbcbf !important;
    color: white !important;
}
.SHL-g-word{
    margin: 6px;
}
.SHLbox-h{
    grid-area: h;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SHL-h-word{
    margin: 0;
}
.SHL-e-button2hidden{
    display:none
}
@media screen and (max-width:1024px){
    .SHL1_1{
        height: auto;
    }
    .SHL-principalbox{
        grid-template-rows: 2fr .7fr 1.3fr .8fr;
    }
}
@media screen and (max-width:768px){
    .SHL-principalbox{
        grid-template-rows: 2fr .7fr 2fr .8fr;
    }
    .SHL1_1{
        width: 6em;
    }
    .SHL-c-word{
        font-size: small;
    }
    .SHL-d-word{
        font-size: small;
    }
    .SHL-e-button{
        font-size: small;
        margin-bottom: .1em;
    }
    .SHL-principalbox {
        grid-template-rows: 1.2fr .5fr 1.2fr .8fr;
    }
    .SHL-f-word{
        font-size: small;
    }
    .SHLbox-g button{
        font-size: xx-small;
    }
    .SHL-g-word{
        font-size: small;
        margin: 3px;
    }
    .SHL-h-word{
        font-size: small;
    }
}
@media screen and (max-width:320px){
    .SHL-principalbox{
        grid-template-areas: "a c f g h"
                             "a d f g h"
                             "a d f g h"
                             "b e f g h";
        grid-template-rows: 1.1fr .5fr 1.2fr .8fr;
        }
    .SHL-e-button{
        display:none
    }
    .SHL-e-button2hidden{
        display: block
    }
    .SCL-principalbox {
        margin: .2em;
    }
}