.OnlyMyProductBox{
    background-color: white;
    border-radius: 5px;
    padding-bottom: .7em;
}
.UploadTitleh1{
    text-align: center;
}
.OMPB1{
    margin:.5em;
    padding: 1em;
    border: 1px solid black;
}
.JMP_title{
    text-align: center;
    padding: .5em 0 0 0;
    text-size-adjust: 1em;
}
.JMP_box{
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 3px;
    background: white;
    display: grid;
    margin: 10px;
    grid-template-areas: "a a a"
                         "b b b"
                         "c c c"
                         "d d d"
                         "e e e"
                         "f f f"
}
.JMP_name{
    grid-area: a;
    text-align: center;
}
.JMP_p_name{
    margin: 5px;
    font-size: 1.30em;
    font-weight: bold;
}

.JMP_secundary_images{
    grid-area: b;
    text-align: center;
}
.JMP_principal_image{
    grid-area: c;
    text-align: center;
}
.JMP_price{
    grid-area: d;
    display: flex;
    justify-content: space-evenly;
}
.JMP_P{
    margin: 0px
}
.JMP_sendby{
    grid-area: e;
    display: flex;
    justify-content: space-evenly;
}
.JMP_buttons{
    grid-area: f;
    text-align: center;
}
.JMP_button1{
    margin: 0 5px 10px 5px;
    font-size: 0.7em;
    padding: 0.3em;
}