.btnFinal button{
    padding: 1px 5px 2px;
    color: black;
    border-color: black;
    margin: 1em !important;
}
.btnFinal button:hover{
    background-color: #1E5372;
    color: white;
}
.myaccinput1{
    width: 300px;
    display: inline-flex;
}
.myaccinput2{
    width: 400px;
    display: inline-flex;
}