.SCLimageccontainer{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.SCLimage{
    border-radius: 3px;
    width: 70%;
}
.SCL-principalbox{
    display: flex;
    margin: 0px 10px 50px 10px;

}
.SCL-box1{
    width: 75%;
}

.SCL-box-x{
    border-bottom: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    background: white;
    height: max-content;
    display: grid;
    grid-template-columns: 1.5fr 5fr 1fr 1fr 1fr;
    grid-template-areas: "a a b c d";
    grid-gap: 3px;
}
.SCL-a{
    grid-area: a;
    display: flex;
}
.SCL-a-w{
    margin: 10px;
    padding-left: 30px;
    font-weight: bold;
    font-size: 25px;
}
.SCL-b{
    grid-area: b;
    justify-content: center;
    align-items: center;
    display: flex;
}
.SCL-b-w{
    margin: 0px;
    font-weight: bold;
}
.SCL-c{
    grid-area: c;
    justify-content: center;
    align-items: center;
    display: flex;
}
.SCL-c-w{
    margin: 0px;
    font-weight: bold;
}
.SCL-d{
    grid-area: d;
    justify-content: center;
    align-items: center;
    display: flex;
}
.SCL-d-w{
    margin: 0px;
    font-weight: bold;
}
.SCL-box2{
    grid-area: e;
    text-align: center;
    width: 25%;
    margin-left: 10px;
    /* border: 1.5px solid rgb(0, 0, 0); */
    border-radius: 13px;
    background: white;
    height: max-content;
}

.SCL-box-z{
    border: 1px solid rgb(0, 0, 0, .3);
    border-radius: 3px;
    background: white;
}
.SCL-box-za{
    display: flex;
    justify-content: flex-end;
    margin: 5px 30px;
}
@media screen and (max-width:1024px){
    .SCL-box1{
        width: 70%;
    }
    .SCL-box2{
        width: 30%;
    }
}
@media screen and (max-width:768px){
    .SCL-box1{
        width: 65%;
    }
    .SCL-box2{
        width: 35%;
    }
    .SCL-a-w{
        font-size: 1.1em;
        padding-left: .3em;
    }
    .SCL-b-w{
        font-size: .8em;
    }
    .SCL-c-w{
        font-size: .8em;
    }
    .SCL-d-w{
        font-size: .8em;
    }

}
@media screen and (max-width:425px){
    #blockContainer {
        display: table;
    }
    #blockA {
        display: table-footer-group;
    }
    #blockB {
        display: block;
        margin-bottom: 1em !important;
        width: 100%;
        margin: 0;
    }
    .SCLimageccontainer{
        margin: .25em;
    }
    .SCLimage{
        width: 90%;
    }
    .PayBox_details h1 {
        font-size: 1em;
        margin: .1em 0;
    }
    .PayBox_det_1 p {
        margin-bottom: .2em;
        font-size: small;
    }
    .PayBox_det_1_input {
        height: 1.4em;
        font-size: smaller;
    }
    .PayBox_det_1_strong2 {
        margin: 0;
        font-size: smaller;
    }
    .PayBox_det_2 {
        font-size: 1em;
    }
    .PayBox_det_2p {
        margin-bottom: 0;
        font-size: smaller;
    }
    .PayBox_form{
        font-size: smaller;
    }
    .PayBox_det_submit {
        margin-bottom: .1em;
        font-size: smaller;
        padding: .3em;
    }
    .SHL1_1 {
        width: 4em;
        margin: .2em;
    }
}
@media screen and (max-width:320px){
    .SCLimage {
        display: none;
    }
}